<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Intsika</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/67d7a24e0d.js" crossorigin="anonymous"></script>
    <link href="/Content/home.css" rel="stylesheet">
    <link href="/Content/about.css" rel="stylesheet">
    <link href="/Content/Contact.css" rel="stylesheet">
    <link href="~/Content/Programmes.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-bg">
        <a class="navbar-brand d-lg-none" href="#"><img src="~/Content/images/global/nav-logo-sm.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
                aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbarToggler7">
            <ul class="navbar-nav mx-auto middle">
                <li class="nav-item">
                    <div class="nav-link d-flex">
                        <a class="middle mx-2 mt-1" href="/Contact#faqs" target="_blank">
                            <i class="fas fa-question-circle shadowBrown" title="Got Questions"></i>
                        </a> Got Questions?
                    </div>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <div class="nav-link d-flex">
                        <a class="circle-icon shadowBrown middle mx-2 mt-1" href="/Contact">
                            <i class="fas fa-envelope icon text-white" title="instagram"></i>
                        </a>
                        Contact Us
                    </div>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <div class="nav-link d-flex">
                        <a href="https://www.facebook.com/Intsika-Community-Projects-106631737700091" target="_blank">
                            <i class="fab fa-facebook shadowBrown mt-1" title="Follow us on facebook"></i>
                        </a>
                        <a class="circle-icon shadowBrown middle mx-2 mt-1" href="https://www.instagram.com/intsikacommunity/" target="_blank">
                            <i class="fab fa-instagram icon text-white" title="instagram"></i>

                        </a>Follow Us

                    </div>
                </li>
                <li class="nav-item">
                    <a class="d-none d-lg-block" href="#">
                        <img class="mainLogo" src="~/Content/images/global/nav-logo.png" alt="Instika logo" />
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/About" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/Donation" class="nav-link">Donate</a>
                </li>
                <li class="nav-item">
                    <a href="/Programmes" class="nav-link">Programmes</a>
                </li>
                <li class="nav-item">
                    <a href="/Contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content p-0">
        @RenderBody()
        <hr />
        <footer class="mb-0 p-0 bottom-0 secondary borderBrown">
            <div class="container-fluid mt-2">
                <div class="row">
                    <div class="col-sm-3 middle">
                        <img src="~/Content/images/global/footer-Logo.png" class="mx-auto w-100 px-3 pt-4 footerImg img-fluid mb-2" />
                        <div class="d-flex justify-content-center py-2">
                            <a href="https://www.facebook.com/Intsika-Community-Projects-106631737700091" class="w-25" target="_blank">
                                <img src="~/Content/images/global/facebook.png" class=" px-2 footerImg img-fluid imgLink" />
                            </a>
                            <a href="https://www.instagram.com/intsikacommunity/" class="w-25" target="_blank">
                                <img src="~/Content/images/global/instagram.png" class=" px-2 footerImg img-fluid imgLink" />
                            </a>
                            <a href="/Contact" class="w-25">
                                <img src="~/Content/images/global/email.png" class=" px-2 footerImg img-fluid imgLink" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 middle px-0 py-3">
                        <div class="bgBrown w-100 my-1 py-2 text-white font-weight-bold middle text-center">
                            <p class="mb-0">
                                Postal Address:
                            </p>
                            <p class="mb-0">
                                31 Macon Road, Lorraine Gqeberha, 6070
                            </p>
                        </div>
                        <div class="bgBrown w-100 my-1 py-2 text-white font-weight-bold middle text-center">
                            <p class="mb-0">
                                Email: intsikacp@gmail.com
                            </p>
                        </div>
                        <div class="bgBrown w-100 my-1 py-2 text-white font-weight-bold middle text-center">
                            <p class="mb-0">
                                Contact No (w): 041 379 2950
                            </p>
                        </div>

                        <div class="bgBrown w-100 my-1 py-2 text-white font-weight-bold middle text-center">
                            <p class="mb-0">
                                Contact No (c): 072 803 6145
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 px-5 middle">
                        <div class="row pb-2">
                            <div class="col">
                                <form class="borderBrown footerForm footerSections brown p-0">
                                    <h2 class="h1 text-capitalize main-subhead w-100 text-center fontBlack pt-3">Join our newsletter</h2>
                                    <div class="curve-brown"></div>
                                    <div class="form-row px-2">
                                        <div class="col p-2">
                                            <input type="text" class="form-control inputFields" placeholder="First name">
                                        </div>
                                        <div class="col p-2">
                                            <input type="text" class="form-control inputFields" placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="form-row px-2 pt-2">
                                        <div class="col p-2">
                                            <input type="email" class="form-control inputFields" placeholder="Email">
                                        </div>
                                        <div class="col p-2">
                                            <button type="submit" class="btn btnMain w-100">Subscribe</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-4 pl-0">
                                <div class="borderBrown footerSiteMap footerSections ">
                                    <h3 class="heading text-uppercase w-100 text-center fontBlack brown pt-3">site map</h3>
                                    <div class="w-100 middle fontBlack brown">
                                        <p><a class="sub-heading brownLink" href="/Home">Home</a></p>
                                        <p><a class="sub-heading brownLink" href="/About">About</a></p>
                                        <p><a class="sub-heading brownLink" href="/Donation">Donate</a></p>
                                        <p><a class="sub-heading brownLink" href="/Programmes">Programmes</a></p>
                                        <p><a class="sub-heading brownLink" href="/Contact">Contact</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="height: 3.25rem; background-color: #653910;">
                    <span class="mt-0 m-auto text-white sub-heading text-uppercase font-weight-bold">&copy; @DateTime.Now.Year By Intsika</span>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
